.home-page-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.page-header {
	text-align: center;
	color: blue;
}

.center-text-and-objects {
	text-align: center;
	margin: auto;
}

.left-justify-text {
	text-align: left;
}

.shaded-header2 {
	background-color: silver;
}

#blog-image-button {
	background-image: url("../img/content/blog_screenshot_1.JPG");
	background-repeat: no-repeat;
	background-size: 100%;
	border: solid;
	border-color: black;
	text-align: center;
}